<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Контакты</title>
</head>
<body>
	<h2>Здесь вы можете оставить своё сообщение.</h2>
	<form action="/contacts" method="post">

		<div class="form-group">
	    <label>Ваше e-mail:</label>
	    <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите ваш e-mail" value="<%= @email%>">
	  </div>
	  
		<div class="form-group">
	    <label>Сообщение:</label>
			<textarea name="message" class="form-control" rows="4" placeholder="Введите ваше сообщение"></textarea>
		</div>
		
		<button type="submit" class="btn btn-primary">Отправить</button>
	<form/>
</body>
</html>